body {
  font-family: Arial, sans-serif;
  background-image: url(get\ f.png);
  background-size: 1351px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  padding-top: 10%;
  text-align: center;
  color: rgb(63, 36, 1);
}

form {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: wheat;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid burlywood;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: rgb(199, 151, 88);
  color: wheat;
  cursor: pointer;
}

input:hover {
  background-color: burlywood;
}

select:hover {
  background-color: burlywood;
}

p {
  color: rgb(223, 195, 159);
  font-weight: bold;
  text-align: center;
}
